<!-- extend base template-->
{% extends "base.html" %} {% block title %}Add Order{% endblock %}

{% block style %}
<!-- aligns text boxes -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<h1 align="center">New Order</h1>
<br />

<form action="{{ url_for('views.add_order') }}" method="POST">
  <h2>Form Responses</h2>
  <button type="submit" class="btn btn-primary" name="action" value="form_autofill">Add From Form</button>
  <!--How many items are showing-->
  <!--Passed to endpoint for consistency-->
  <input type="hidden" id="data-length" name="data_length" value="{{ form_data.items() | length }}">

  <div id="scroll-container" class="scrollable-container">
    <div id="data-container">
      {% for timestamp, response in form_data.items() %}
      <div class="response-item">
        <input type="radio" name="selected-response" 
          id="response-{{ timestamp }}" 
          value="{{ timestamp }}"
        >
        <label for="response-{{ timestamp }}">
          <p><a href="{{ response['response_link'] }}">{{ timestamp }}:</a> {{ response['shipper']['shipper_name'] }}—{{ response['shipper']['shipper_email'] }}</p>
        </label>
      </div>
      {% endfor %}
    </div>
  </div>
</form>


<form action="{{ url_for('views.add_order') }}" method="POST">
  <h2>Shipper</h2>
  <!-- #region shipper -->
  <div class="form-section">
    <label for="shipper-name">Name *</label>
    <input type="text" id="shipper-name" name="shipper-name" value="{{data['shipper_name']}}" required>
  </div>
  <div class="form-section">
    <label for="shipper-address">Address *</label>
    <textarea id="shipper-address" name="shipper-address" required>{{data['shipper_address']}}</textarea>
  </div>
  <div class="form-section form-inline">
    <label for="shipper-city">City *</label>
    <input type="text" id="shipper-city" name="shipper-city" value="{{data['shipper_city']}}" required>
  </div>
  <div class="form-section form-inline">
    <label for="shipper-state">State/Province *</label>
    <input type="text" id="shipper-state" name="shipper-state" value="{{data['shipper_state']}}" required>
  </div>
  <div class="form-section form-inline">
    <label for="shipper-zip">Zip Code</label>
    <input type="text" id="shipper-zip" name="shipper-zip" value="{{data['shipper_zip']}}">
  </div>
  <div class="form-section">
    <label for="shipper-phone">Phone *</label>
    <input type="text" id="shipper-phone" name="shipper-phone" value="{{data['shipper_phone']}}" required>
  </div>
  <div class="form-section">
    <label for="shipper-email">Email *</label>
    <input type="email" id="shipper-email" name="shipper-email" value="{{data['shipper_email']}}" required>
  </div>
  <!-- #endregion -->

  <h2>Consignee</h2>
  <!-- #region consignee -->
  <div class="form-section">
    <label for="consignee-name">Name *</label>
    <input type="text" id="consignee-name" name="consignee-name" value="{{data['consignee_name']}}" required>
  </div>
  <div class="form-section">
    <label for="consignee-address">Address *</label>
    <textarea id="consignee-address" name="consignee-address" required>{{data['consignee_address']}}</textarea>
  </div>

  <div class="form-section form-inline">
    <label for="consignee-city">City *</label>
    <input type="text" id="consignee-city" name="consignee-city" value="{{data['consignee_city']}}" required>
  </div>
  <div class="form-section form-inline">
    <label for="consignee-state">State/Province *</label>
    <input type="text" id="consignee-state" name="consignee-state" value="{{data['consignee_state']}}" required>
  </div>
  <div class="form-section form-inline">
    <label for="consignee-zip">Zip Code</label>
    <input type="text" id="consignee-zip" name="consignee-zip" value="{{data['consignee_zip']}}">
  </div>
  <div class="form-section">
    <label for="consignee-phone">Phone *</label>
    <input type="text" id="consignee-phone" name="consignee-phone" value="{{data['consignee_phone']}}" required>
  </div>
  <div class="form-section">
    <label for="consignee-email">Email</label>
    <input type="text" id="consignee-email" name="consignee-email" value="{{data['consignee_email']}}">
  </div>
  <!-- #endregion-->

  <h2>Shipment Information</h2>
  <!-- #region shipment information -->
  <div class="form-section">
    <label for="delivery-option">Delivery Option *</label>
    <p>Please select an option to send the package to us:</p>
    <div class="delivery-option-section">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="office-drop-off" 
          id="option-drop-off" value="drop-off" 
          {% if data['office_dropoff'] and data['office_dropoff'] != ""%}checked{% endif %}
          required
        >
        <label class="form-check-label" for="option-drop-off">Drop off at our office (No extra charge)</label>
        <p>Customers can drop off the package at our office in Canada.</p>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="office-drop-off" 
        id="option-delivery" value="delivery" 
        {% if data['office_dropoff'] == False and data['office_dropoff'] != ""%}checked{% endif %}
        required
        >
        <label class="form-check-label" for="option-delivery">Delivery to our office (Extra charge)</label>
        <p>We will arrange for the package to be delivered to our office in Canada. Additional charges apply.</p>
        <div id="pickup-address-section">
          <label for="pickup-address">Pickup Address</label>
          <textarea id="pickup-address" name="pickup-address"></textarea>
        </div>
      </div>
    </div>
  </div>


  <div class="form-section">
    <label for="consignee-option">Consignee Option *</label>
    <p>Please select the options for the final leg of the package trip:</p>
    <div class="consignee-option-section">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="office-pickup" 
        id="option-pick-up" value="pick-up" 
        {% if data['office_pickup'] and data['office_pickup'] != ""%}checked{% endif %}
        required
        >
        <label class="form-check-label" for="option-pick-up">Consignee pick up at our office (No extra charge)</label>
        <p>The consignee can personally pick up the package from our office.</p>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="office-pickup" 
        id="option-delivery" value="delivery" 
        {% if not data['office_pickup'] and data['office_pickup'] != ""%}checked{% endif %}
        required
        >
        <label class="form-check-label" for="option-delivery">Delivery to consignee's address (Extra charge)</label>
        <p>We will arrange for the package to be delivered to the consignee's address. Additional charges apply.</p>
      </div>
    </div>
  </div>

  <div class="form-section">
    <label for="insurance"><strong>Would you like insurance?</strong></label>
    <input type="checkbox" id="insurance" name="insurance" 
      {% if data['insurance'] %}checked{% endif %}
    >
  </div>
  <!-- #endregion-->

  <h2>Package Information</h2>
  <div class="form-section">
    <label for="box-count">Number of Boxes *</label>
    <input type="number" id="box-count" name="box-count" value={{data['box_num']}} required>
  </div>

  <div id="box-information-section"></div>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='index.js') }}"
  ></script>
  <script>
      // customer search function
      /*
    $(document).ready(function(){
      load_data();
      function load_data(query)
      {
        $.ajax({
          url:"/ajaxlivesearch",
          method:"POST",
          data:{query:query},
          success:function(data)
          {
            $('#customer-results').html(data);
          }
        });
      }
      $('search_text').keyup(function(){
        var search = $(this).val();
        if (search != ''){
          load_data(search);
        } else {
          load_data();
        }
      });
    });
    */
    
    function generateBoxSections(box_data) {
      // see form_autofill.py for how data is passed and key-value pairs
      const boxCount = parseInt(document.getElementById("box-count").value);
      let boxSectionHTML = "";
      

      for (let i = 1; i <= boxCount; i++) {
        // pk_data is an empty object if box_data[i] is undefined
        const pk_data = box_data[i.toString()] || {};
        //console.log(pk_data);
        //console.log(`${pk_data.hasOwnProperty('description') ? pk_data.description : 'no description'}`);
        console.log(`${pk_data.hasOwnProperty('weight') ? pk_data.weight : ''}`)

        boxSectionHTML += `
          <div class="box-section">
            <h3>Box ${i}</h3>
            <div class="form-section">
              <label for="dimensions-${i}">Dimensions:</label>
              <div class="inline-inputs">
                <div class="input-group">
                  <input type="text" id="length-${i}" name="length-${i}" placeholder="Length" 
                    class="form-control small-input"
                    value="${pk_data.hasOwnProperty('length') ? pk_data.length : ''}"
                    required
                  >
                  <input type="text" id="width-${i}" name="width-${i}" placeholder="Width" 
                  class="form-control small-input"
                  value="${pk_data.hasOwnProperty('width') ? pk_data.width : ''}"
                  required
                  >
                  <input type="text" id="height-${i}" name="height-${i}" placeholder="Height" 
                    class="form-control small-input"
                    value="${pk_data.hasOwnProperty('height') ? pk_data.height : ''}"
                    required
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="units-${i}" id="inch-${i}" 
                    value="INCH" 
                    ${pk_data.hasOwnProperty('units') && pk_data.units === 'INCH' ? 'checked' : ''}
                    required
                  >
                  <label class="form-check-label" for="inch-${i}">Inch</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="units-${i}" id="cm-${i}" 
                    value="CM" 
                    ${pk_data.hasOwnProperty('units') && pk_data.units === 'CM' ? 'checked' : ''}
                    required
                  >
                  <label class="form-check-label" for="cm-${i}">CM</label>
                </div>
              </div>
            </div>
            
            <div class="form-section">
              <label for="weight">Weight (kg):</label>
              <div class="inline-inputs">
                <input type="text" id="weight-${i}" name="weight-${i}" placeholder="Weight" class="form-control small-input"
                  value="${pk_data.hasOwnProperty('weight') ? pk_data.weight : ''}""
                  required
                >
              </div>
            </div>
            
            <div class="form-section">
              <label for="box-cargo-description-${i}">Cargo Description*</label>
              <textarea id="box-cargo-description-${i}" name="box-cargo-description-${i}" required>
                ${pk_data.hasOwnProperty('description') ? pk_data.description : ''}
              </textarea>
            </div>
            
            <div class="form-section">
              <label for="box-lithium-batteries-${i}"><strong>This box contains lithium batteries: </strong></label>
              <input type="checkbox" id="box-lithium-batteries-${i}" name="box-lithium-batteries-${i}"
                {% if data['boxes']['batteries']%}checked{% endif %}
                ${pk_data.hasOwnProperty('batteries') && pk_data.batteries ? 'checked' : ''}
              >
              <p>Lithium batteries can be found in laptops, phones, and any rechargeable device.</p>
            </div>
            <div class="form-section">
              <label for="box-fragile-${i}"><strong>This package is fragile:</strong></label>
              <input type="checkbox" id="box-fragile-${i}" name="box-fragile-${i}"
              ${pk_data.hasOwnProperty('fragile') && pk_data.fragile ? 'checked' : ''}
              >
            </div>
          </div>
        `;
      }
      document.getElementById("box-information-section").innerHTML = boxSectionHTML;
    }


    //document.getElementById("box-count").addEventListener("change", generateBoxSections);
    var box_data = {{ data['boxes'] | tojson | safe }};
    console.log(box_data);
    generateBoxSections(box_data);

    document.getElementById("box-count").addEventListener("change", () => {
        generateBoxSections(box_data);
    });
    

    function update_pickup_address_field() {
      const dropOffOption = document.getElementById("option-drop-off");
      const deliveryOption = document.getElementById("option-delivery");
      const pickupAddressField = document.getElementById("pickup-address");

      pickupAddressField.disabled = true;
      dropOffOption.addEventListener("change", updatePickupAddressField);
      deliveryOption.addEventListener("change", updatePickupAddressField);

    }
      // enable/disable pickup address input based on delivery option selection
    function disable_pickup_field(){
      pickupAddressField.disabled = !deliveryOption.checked;

      // Clear the pickup address field if the delivery option is unchecked
      /*
      if (!deliveryOption.checked) {
        pickupAddressField.value = "";
      }
      */
    }
  </script>

<button type="submit" class="btn btn-primary" name="action" value="add">Add Order</button>
<button type="submit" class="btn btn-secondary" name="action" value="cancel" id="delete-button">Cancel</button>
</form>

  {% endblock %}