{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block style %}
<!-- aligns text boxes -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<br />
<h1 align="center">Shipment Overview</h1>
<br />
<div class="shipment-summary">
  <p>Number of packages: {{shipment.package_num}}</p>
  <p>Number of packages with batteries: {{shipment.battery_num}}</p>
  <p>Gross Weight (kg): {{shipment.gross_weight}}</p>
  <p>Volumetric Weight (CBM): {{shipment.volumetric_weight}}</p>
</div>

<div class="sidebar">
  <h2>Consolidate Boxes</h2>
  <div class="select-btn">
    <span class="btn-text">Select Box</span>
    <span class="arrow-dwn">
      <i class="fa-solid fa-chevron-down"></i>
    </span>
  </div>
  <ul class="list-items">
    <!-- list of boxes to consolidate goes here -->
    <div id="boxes-consolidate"></div>
    <div class="consolidated-dimensions">
      <input type="text" id="length-cons" name="length-cons" placeholder="Length" 
        class="form-control small-input consolidate"
        required
      >
      <input type="text" id="width-cons" name="width-cons" placeholder="Width" 
      class="form-control small-input consolidate"
      required
      >
      <input type="text" id="height-cons" name="height-cons" placeholder="Height" 
        class="form-control small-input consolidate"
        required
      >
    </div>
  </ul>

  <button 
    class="save-btn"
    onClick="if (this.classList.contains('consolidate')) {
        consolidate(); 
      }"
    >
    Consolidate Boxes
  </button>
</div>

<h1 align="center">Packages</h1>
<br />
<!--- #region list orders -->
<ul class="list-group list-group-flush" id="packages">
  {% for pk in shipment.packages %}
  <li class="list-group-item">
    <div class="order-info">
      <a href="{{ url_for('views.pk_details', pk_id=pk.package_id) }}">
        {{"Box " ~ pk.package_id}}
      </a>
      <span class="description">{{"— " ~ pk.shipper.name}}</span>
    </div>
    <div class="actions">
      <a href="{{ url_for('views.pk_details', pk_id=pk.package_id) }}" class="btn btn-link">Edit</a>
      <a href="javascript:void(0);" class="btn btn-link" onClick="toggleView('{{ pk.package_id }}')">View</a>
      <a href="javascript:void(0);" onClick="delete_package('{{pk.package_id}}')">Delete</a>
    </div>
    <div id="view-form-{{ pk.package_id }}" class="view-form" style="display: none;">
      <p>Description: {{ pk.description }}</p>
      <p>Has Batteries: {{ pk.has_batteries }}</p>
      <p>Is Fragile: {{ pk.fragile }}</p>
      <p>Dimensions ({{pk.dim_units}}): {{ pk.dimensions }}</p>
      <p>Weight (kg): {{ pk.weight }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
<!-- #endregion -->

<script>
function toggleView(packageId) {
  var viewForm = document.getElementById("view-form-" + packageId);
  if (viewForm.style.display === "none") {
    viewForm.style.display = "block";
  } else {
    viewForm.style.display = "none";
  }
}

// add innerHTML to div id='view-form'+id
// each line is a link displaying info on box which is display:none by default
function cons_dropdown(pk_id_list) {
  let boxSectionHTML = "";

  {% for pk_id in pk_id_list %}
    boxSectionHTML += `
      <div class="order-info">
        <a href="{{ url_for('views.pk_details', pk_id=pk_id) }}">
          {{"Box " ~ pk_id}}
        </a>
        <span class="description">{{"— " ~ shipment.package(pk_id).shipper.name}}</span>
      </div>
      <div class="actions">
        <a href="{{ url_for('views.pk_details', pk_id=pk.package_id) }}" class="btn btn-link">Edit</a>
        <a href="javascript:void(0);" class="btn btn-link" onClick="toggleView('{{ pk.package_id }}')">View</a>
        <a href="javascript:void(0);" onClick="delete_package('{{pk.package_id}}')">Delete</a>
      </div>
      `;
  {% endfor %}

}


const selectBtn = document.querySelector(".select-btn"),
      saveBtn = document.querySelector(".save-btn"),
      cnsDim = document.querySelector(".consolidated-dimensions");
let items = document.querySelectorAll(".item");

selectBtn.addEventListener('click', () =>{
  selectBtn.classList.toggle('open');
})

function toggleChecked(item) {
  item.classList.toggle('checked');
  let checked = document.querySelectorAll('.checked');
  let btnText = document.querySelector('.btn-text');

  if (checked.length > 1) {
    btnText.innerText = `${checked.length} boxes selected`;
    if (!saveBtn.classList.contains('consolidate')) {
      saveBtn.classList.add('consolidate');
      cnsDim.classList.add('consolidate');
    }
  } else {
    if (checked.length == 1) {
      btnText.innerText = "Select A Second Box";
    } else {
      btnText.innerText = "Select Box";
    }
    if (saveBtn.classList.contains('consolidate')) {
      saveBtn.classList.remove('consolidate');
      cnsDim.classList.remove('consolidate');
    }
  }
}

function attachEventListeners() {
  items = document.querySelectorAll(".item");
  items.forEach(item => {
    item.addEventListener('click', () => {
      toggleChecked(item);
    });
  });
}

function box_dropdowns() {
  var box_num = {{ shipment.package_num }};
  var box_ids = {{ shipment.package_id_list|tojson }}
  console.log('box ids:')
  //console.log(box_ids)
  let boxSectionHTML = "";

  for (let i = 0; i < box_num; i++) {
    boxSectionHTML += `
    <li class="item" value="${box_ids[i]}">
      <span class="checkbox">
        <i class="fa-solid fa-check check-icon"></i>
      </span>
      <span class="item-text">Box ${box_ids[i]}</span>
    </li>
    `;
  }

  document.getElementById("boxes-consolidate").innerHTML = boxSectionHTML;
  attachEventListeners();
};

box_dropdowns();

function consolidate() {
  // sends post request to delete-note endpoint
  console.log('consolidating');

  // which items are checked
  items = document.querySelectorAll(".item");
  checked_items = []
  items.forEach(item => {
    if (item.classList.contains('checked')) {
      val = item.getAttribute('value')
      console.log(val);
      checked_items.push(val)
    }
  });

  // FIXME send dimensions to consolidate_package in index.js
  // not sure how to fetch value from length object
  length = document.getElementById("length-cons");
  width = document.getElementById("width-cons");
  height = document.getElementById("height-cons");
  console.log('length of consolidated box:');
  console.log(length);
  consolidate_package(checked_items);
}

</script>
  
{% endblock %}
