{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block style %}
<!-- aligns text boxes -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<br />
<h1 align="center">Shipment Overview</h1>
<br />
<div class="shipment-summary">
  <p>Number of packages: {{shipment.package_num}}</p>
  <p>Number of packages with batteries: {{shipment.battery_num}}</p>
  <p>Gross Weight (kg): {{shipment.gross_weight}}</p>
  <p>Volumetric Weight (CBM): {{shipment.volumetric_weight}}</p>
</div>

<div class="sidebar">
  <h2>Consolidate Boxes</h2>
  <div class="select-btn">
    <span class="btn-text">Select Box</span>
    <span class="arrow-dwn">
      <i class="fa-solid fa-chevron-down"></i>
    </span>
  </div>
  <ul class="list-items">
    <!-- list of boxes to consolidate goes here -->
    <div id="boxes-consolidate"></div>
    <div class="consolidated-dimensions">
      <input type="text" id="length-cons" name="length-cons" placeholder="Length" 
        class="form-control small-input consolidate"
        required
      >
      <input type="text" id="width-cons" name="width-cons" placeholder="Width" 
      class="form-control small-input consolidate"
      required
      >
      <input type="text" id="height-cons" name="height-cons" placeholder="Height" 
        class="form-control small-input consolidate"
        required
      >
    </div>
  </ul>

  <button 
    class="save-btn"
    onClick="if (this.classList.contains('consolidate')) {
        consolidate(); 
      }"
    >
    Consolidate Boxes
  </button>
</div>

<button class="view-btn" onclick="showView('packageView')" align="center">Package View</button>
<button class="view-btn" onclick="showView('orderView')" align="center">Order View</button>
<br />


<div id="packageView" class="view active">
  <!-- Content for Package View -->
  <h2>Package Information</h2>
  <p>This is the package view content.</p>

  <ul class="list-group list-group-flush" id="packages">
    {% for pk in shipment.packages %}
    <li class="list-group-item">
      <div class="order-info">
        <a href="{{ url_for('views.pk_details', pk_id=pk.package_id) }}">
          {{"Box " ~ pk.package_id}}
        </a>
        <span class="description">{{"— " ~ pk.shipper.name}}</span>
        {% if pk.validate() != True %}
        <i class="fa-solid fa-circle-exclamation"
        title="Missing the following details: {{pk.validate()}}"
        ></i>
        <span class="description"></span>
        {% endif %}
      </div>
      <div class="actions">
        <a href="{{ url_for('views.pk_details', pk_id=pk.package_id) }}" class="btn btn-link">Edit</a>
        <a href="javascript:void(0);" class="btn btn-link" onClick="toggleView('packageview-{{ pk.package_id }}')">View</a>
        <a href="javascript:void(0);" onClick="delete_package('{{pk.package_id}}', 'permanent')">Delete</a>
      </div>
      <div id="packageview-{{ pk.package_id }}" class="view-form" style="display: none;">
        <p>Description: {{ pk.description }}</p>
        <p>Has Batteries: {{ pk.has_batteries }}</p>
        <p>Is Fragile: {{ pk.fragile }}</p>
        <p>Dimensions: {{ pk.dimensions }} {{pk.dim_units}}</p>
        <p>Weight: {{ pk.weight }} kg</p>
        
        <!-- these are not showing -->
        {% if pk.__class__ == 'ConsolidatedPackage' %}
          {% for box in pk.packages %}
          {% set pk_id = box.package_id %}
          <div class="order-info">
            <a href="{{ url_for('views.pk_details', pk_id=pk_id) }}">
              {{"Box " ~ pk_id}}
            </a>
            <span class="description">{{"— " ~ box.shipper.name}}</span>
          </div>
          <div class="actions">
            <a href="{{ url_for('views.pk_details', pk_id=pk_id) }}" class="btn btn-link">Edit</a>
            <a href="javascript:void(0);" class="btn btn-link" onClick="toggleView('packageview-{{ pk_id }}')">View</a>
            <a href="javascript:void(0);" onClick="delete_package('{{ pk_id }}')">Delete</a>
          </div>
          {% endfor %}
        {% endif %}

      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="orderView" class="view">
  <!-- Content for Order View -->
  <h2>Order Information</h2>
  <p>This is the order view content.</p>
  <ul class="list-group list-group-flush" id="packages">
    {% for order in shipment.orders %}
    <li class="list-group-item">
      <div class="order-info">
        <a href="{{ url_for('views.view_order', order_id=order.id) }}">
          {{ order.customer.name }}
        </a>
        <span class="description">{{" — " ~ order.packages|length ~ " packages" }}    (order id: {{ order.id }})</span>
      </div>
      <div class="actions">
        <a href="{{ url_for('views.add_package', order_id=order.id) }}" class="btn btn-link">Add Package</a>
      </div>
      <br>
      <ul class="list-group list-group-flush" id="packages">
        {% for pk in order.packages %}
        <div class="order-info">
          <a href="{{ url_for('views.pk_details', pk_id=pk.package_id) }}">
            {{"Box " ~ pk.package_id}}
          </a>
          <span class="description">{{"— " ~ pk.description}}</span>
        </div>
        <div class="actions">
          <a href="{{ url_for('views.pk_details', pk_id=pk.package_id) }}" class="btn btn-link">Edit</a>
          <a href="javascript:void(0);" class="btn btn-link" onClick="toggleView('orderview-{{ pk.package_id }}')">View</a>
          <a href="javascript:void(0);" onClick="delete_package('{{pk.package_id}}', 'permanent')">Delete</a>
        </div>
        <div id="orderview-{{ pk.package_id }}" class="view-form" style="display: none;">
          {% if pk.consolidated %}
          <strong> This box is consolidated. </strong>
          {% endif %}
          <p>Dimensions: {{ pk.dimensions }} {{pk.dim_units}}</p>
          <p>Weight (kg): {{ pk.weight }}</p>
          <p>Has Batteries: {{ pk.has_batteries }}</p>
          <p>Is Fragile: {{ pk.fragile }}</p>
        </div>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<script>

function showView(viewId) {
    // Hide all views first
    const views = document.getElementsByClassName('view');
    for (let i = 0; i < views.length; i++) {
        views[i].classList.remove('active');
    }

    // Show the selected view
    document.getElementById(viewId).classList.add('active');
}

const selectBtn = document.querySelector(".select-btn"),
      saveBtn = document.querySelector(".save-btn"),
      cnsDim = document.querySelector(".consolidated-dimensions");
let items = document.querySelectorAll(".item");

selectBtn.addEventListener('click', () =>{
  selectBtn.classList.toggle('open');
})

function toggleChecked(item) {
  item.classList.toggle('checked');
  let checked = document.querySelectorAll('.checked');
  let btnText = document.querySelector('.btn-text');

  // minimum number of boxes to consolidate is now one
  // this way, large boxes get labelling priority
  if (checked.length >= 1) {
    btnText.innerText = `${checked.length} boxes selected`;
    if (!saveBtn.classList.contains('consolidate')) {
      saveBtn.classList.add('consolidate');
      cnsDim.classList.add('consolidate');
    }
  } else {
    if (checked.length == 1) {
      btnText.innerText = "Select A Second Box";
    } else {
      btnText.innerText = "Select Box";
    }
    if (saveBtn.classList.contains('consolidate')) {
      saveBtn.classList.remove('consolidate');
      cnsDim.classList.remove('consolidate');
    }
  }
}

function attachEventListeners() {
  items = document.querySelectorAll(".item");
  items.forEach(item => {
    item.addEventListener('click', () => {
      toggleChecked(item);
    });
  });
}


function box_dropdowns() {
  var box_num = {{ shipment.package_num }};
  var box_ids = {{ shipment.package_id_list|tojson }}
  let boxSectionHTML = "";

  for (let i = 0; i < box_num; i++) {
    boxSectionHTML += `
    <li class="item" value="${box_ids[i]}">
      <span class="checkbox">
        <i class="fa-solid fa-check check-icon"></i>
      </span>
      <span class="item-text">Box ${box_ids[i]}</span>
    </li>
    `;
  }

  document.getElementById("boxes-consolidate").innerHTML = boxSectionHTML;
  attachEventListeners();
};

box_dropdowns();

function consolidate() {
  // sends post request to delete-note endpoint
  console.log('consolidating');

  // which items are checked
  items = document.querySelectorAll(".item");
  checked_items = []
  items.forEach(item => {
    if (item.classList.contains('checked')) {
      val = item.getAttribute('value')
      console.log(val);
      checked_items.push(val)
    }
  });

  // FIXME send dimensions to consolidate_package in index.js
  // not sure how to fetch value from length object
  length = document.getElementById("length-cons");
  width = document.getElementById("width-cons");
  height = document.getElementById("height-cons");
  console.log('length of consolidated box:');
  console.log(length);
  consolidate_package(checked_items);
}

</script>
  
{% endblock %}
