<!-- extend base template-->
{% extends "base.html" %} {% block title %}View Package Details{% endblock %}

{% block style %}
<!-- aligns text boxes -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<h1 align="center">Box {{pk.package_id}}</h1>
<br />
<br />

<!--- #region list orders -->
<ul class="list-group list-group-flush" id="notes">
  
  {% if cons_packages is not none %}
  {% if 1==0 %}
  <div class="select-btn">
    <span class="btn-text">Add Package</span>
    <span class="arrow-dwn">
      <i class="fa-solid fa-chevron-down"></i>
    </span>
  </div>
  <ul class="list-items">
    <!-- list of boxes to consolidate goes here -->
    <div id="boxes-consolidate">
      <!--TODO: only include packages not already part of consolidated package-->
      {% for pk in packages %}
      <li class="item" value="{{pk.id}}">
        <span class="checkbox">
          <i class="fa-solid fa-check check-icon"></i>
        </span>
        <span class="item-text">Box {{pk.id}}</span>
      </li>
      {% endfor %}
    </div>
    
  </ul>
  {% endif %}
    {% if cons_packages|length == 0 %}
    <p>No boxes stored here. Recommend deleting this consolidated package from Homepage.</p>
    {% else %}
      {% for cons_pk in cons_packages %}
      <li class="list-group-item">
        <div class="order-info">
          <a href="{{ url_for('views.pk_details', pk_id=cons_pk.package_id) }}">
            {{"Box " ~ cons_pk.package_id}}
          </a>
          <span class="description">{{"— " ~ cons_pk.shipper.name}}</span>
        </div>
        <div class="actions">
          <a href="{{ url_for('views.pk_details', pk_id=cons_pk.package_id) }}" class="btn btn-link">Edit</a>
          <a href="javascript:void(0);" class="btn btn-link" onClick="toggleView('view-{{ cons_pk.package_id }}')">View</a>
          <a href="javascript:void(0);" class="btn btn-link" onClick="delete_package('{{cons_pk.package_id}}', 'from_box')">Remove from Box</a>
          <a href="javascript:void(0);" onClick="delete_package('{{cons_pk.package_id}}', 'permanent')">Delete Permanently</a>
        </div>
        <div id="view-{{ cons_pk.package_id }}" class="view-form" style="display: none;">
          <p>Description: {{ cons_pk.description }}</p>
          <p>Has Batteries: {{ cons_pk.has_batteries }}</p>
          <p>Is Fragile: {{ cons_pk.fragile }}</p>
          <p>Dimensions: {{ cons_pk.dimensions }} {{cons_pk.dim_units}}</p>
          <p>Weight (kg): {{ cons_pk.weight }}</p>
        </div>
      </li>
      {% endfor %}
    {% endif %}
  {% else %}
  
  <!-- Show shipper/consignee details for non consolidated box -->
  <div class="form-section">
    <h3>Shipper/Customer</h3>
    <p>Name: {{pk.customer.name}}</p>
    <p>To edit shipper details, go <a href="{{ url_for('views.view_order', order_id=pk.customer_order.id) }}">here.</a></p>
  </div>
  <div class="form-section">
    <h3>Consignee</h3>
    <form class="edit-form" id="consignee-form" method="POST" action="{{ url_for('views.pk_details', pk_id=pk.package_id) }}">
      <div class="form-group">
        <label for="consignee-name">Name:</label>
        <input type="text" class="form-control" id="consignee-name" name="consignee_name" value="{{ pk.consignee.name }}">
      </div>
      <div class="form-group">
        <label for="consignee-email">Email:</label>
        <input type="text" class="form-control" id="consignee-email" name="consignee_email" value="{{ pk.consignee.email }}">
      </div>
      <div class="form-group">
        <label for="consignee-phone">Phone Number:</label>
        <input type="text" class="form-control" id="consignee-phone" name="consignee_phone" value="{{ pk.consignee.phone }}">
      </div>
      <div class="form-group">
        <label for="consignee-address">Address:</label>
        <input type="text" class="form-control" id="consignee-address" name="consignee_address" value="{{ pk.consignee.address }}">
      </div>
      <div class="form-group">
        <label for="consignee-city">City:</label>
        <input type="text" class="form-control" id="consignee-city" name="consignee_city" value="{{ pk.customer.city }}">
      </div>
      <div class="form-group">
        <label for="consignee-name">State/Province:</label>
        <input type="text" class="form-control" id="consignee-state" name="consignee_state" value="{{ pk.customer.state }}">
      </div>
      <div class="form-group">
        <label for="consignee-name">Zip Code:</label>
        <input type="text" class="form-control" id="consignee-zip" name="consignee_zip" value="{{ pk.customer.zip_code }}">
      </div>
      <button type="submit" name="save_btn" class="save-btn" value="consignee-info">Save</button>
    </form>
  </div>
  {% endif %}

  <div class="form-section">
    <h3>Package Details</h3>
    <form class="edit-form" id="additional-details-form" method="POST" action="{{ url_for('views.pk_details', pk_id=pk.package_id) }}">
      <div class="form-section">
        <label for="dimensions">Dimensions:</label>
        <div class="inline-inputs">
          <div class="input-group">
            <input type="text" id="length" name="length" placeholder="Length" 
              class="form-control small-input" value="{{pk.dimensions[0]}}"
            >
            <input type="text" id="width" name="width" placeholder="Width" 
             class="form-control small-input" value="{{pk.dimensions[1]}}"
            >
            <input type="text" id="height" name="height" placeholder="Height" 
              class="form-control small-input" value="{{pk.dimensions[2]}}"
            >
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="units" id="inch" 
              value="INCH" {% if pk.dim_units == 'INCH'%}checked{% endif %}
            >
            <label class="form-check-label" for="inch">Inches</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="units" id="cm" 
              value="CM" {% if pk.dim_units == 'CM'%}checked{% endif %}
            >
            <label class="form-check-label" for="cm">CM</label>
          </div>
        </div>
      </div>

      <div class="form-section">
        <label for="weight">Weight:</label>
        <div class="inline-inputs">
          <input type="text" id="weight" name="weight" placeholder="Weight" class="form-control small-input"
            value="{{pk.weight}}"
          >
        </div>
      </div>
      
      <div class="form-section">
        <label for="box-cargo-description">Cargo Description</label>
        <textarea id="box-cargo-description" name="package_description">{{pk.description}}</textarea>
      </div>
      
      <div class="form-section">
        <label for="box-lithium-batteries"><strong>This box contains lithium batteries: </strong></label>
        <input type="checkbox" id="box-lithium-batteries" name="lithium_batteries"
          {% if pk.has_batteries%}checked{% endif %}
        >
        <p>Lithium batteries can be found in laptops, phones, and any rechargeable device.</p>
      </div>
      <div class="form-section">
        <label for="box-fragile"><strong>This package is fragile:</strong></label>
        <input type="checkbox" id="box-fragile" name="is_fragile"
        {% if pk.fragile%}checked{% endif %}
        >
      </div>
    </div>
    <button type="submit" name="save_btn" class="save-btn" value="additional-info">Save</button>
    </form>
  </div>
</ul>

<!-- #endregion -->

<script>

function showView(viewId) {
  // Hide all views first
  const views = document.getElementsByClassName('view');
  for (let i = 0; i < views.length; i++) {
      views[i].classList.remove('active');
  }

  // Show the selected view
  document.getElementById(viewId).classList.add('active');
}

const selectBtn = document.querySelector(".select-btn"),
    saveBtn = document.querySelector(".save-btn");
let items = document.querySelectorAll(".item");

selectBtn.addEventListener('click', () =>{
  selectBtn.classList.toggle('open');
})

function toggleChecked(item) {
  item.classList.toggle('checked');
  console.log("checked")
  let checked = document.querySelectorAll('.checked');
  let btnText = document.querySelector('.btn-text');

  if (checked.length >= 1) {
    btnText.innerText = `${checked.length} boxes selected`;
    if (!saveBtn.classList.contains('add')) {
      saveBtn.classList.add('add');
    }
  } else {
    if (checked.length == 1) {
      btnText.innerText = "Select A Second Box";
    } else {
      btnText.innerText = "Select Box";
    }
    if (saveBtn.classList.contains('add')) {
      saveBtn.classList.remove('add');
    }
  }
}

function attachEventListeners() {
  items = document.querySelectorAll(".item");
  items.forEach(item => {
    item.addEventListener('click', () => {
      toggleChecked(item);
    });
  });
}

</script>
{% endblock %}