/* home */

.view-btn {
  display: inline-block;
  height: auto;
  background: #0dacc8;
  color: #fff;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  margin: 15px;
  border-radius: 8px;
  cursor: none;
}

.view {
  display: none;
}

.active {
  display: block;
}

.order-info {
  display: flex;
  align-items: center;
}

.order-info a {
  margin-right: 10px;
}


.actions {
  margin-left: auto;
}

.actions a {
  margin-left: 10px;
}

/* home sidebar */
.sidebar {
  position: sticky;
  top: 0;
  float: right;
  width: 400px;
  height: calc(100vh - 40px); /* adjust the height as needed */
  overflow-y: auto;
  padding: 30px;
  background-color: #f1f1f1;
}

.select-btn {
  display: flex;
  height: 50px;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer
}

.save-btn {
  display: flex;
  height: 50px;
  background: #bababa;
  color: #000;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: none;
}

.save-btn.consolidate {
  background: #0dacc8;
  color: #fff;
  cursor: pointer
}

.consolidated-dimensions {
  display: none;
  height: 50px;
  background: #fff;
  color: #000;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: none;
}

.consolidated-dimensions.consolidate {
  display: flex;
}

.small-input.consolidate {
  width: 30%;
}

.select-btn .arrow-dwn {
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  background: #6e93f7;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.select-btn.open .arrow-dwn {
  transform: rotate(-180deg);
}

.list-items{
  position: relative;
  margin-top: 15px;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.select-btn.open ~ .list-items{
  display: block;
}

.list-items .item{
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px
}

.list-items .item:hover{
  background-color: #e7edfe
}

.item .item-text{
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.item .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}

.item.checked .checkbox{
  background-color: #4070f4;
  border-color: #4070f4;
}

.checkbox .check-icon{
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.1s ease-in-out;
}

.item.checked .check-icon{
  transform: scale(1);
}

/* add_order? */
.form-section {
  margin-bottom: 20px;
}

.form-section label {
  display: block;
  margin-bottom: 5px;
}

.form-inline {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
input[type="text"], input[type="email"], textarea {
  width: 300px;
}
input[type="checkbox"] {
  margin-top: 5px;
}
.box-section {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}
.box-section label {
  display: inline-block;
  width: 150px;
  margin-bottom: 5px;
}

body {
  margin-bottom: 120px; /* Adjust the value as per your preference */
}

/* for dimensions */
.small-input {
  width: 80px;
}

.inline-inputs {
  display: flex;
  align-items: center;
}
